/* Theme base styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Tools
Any animations, or functions used throughout the project.
Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
*/
:root {
  --primary-color: #E0001A;
  --secondary-color: #152638;
  --accent-color: #FFEC01;
  --text-color: #2D2D2D;
  --font-family-base: 'Roboto', 'Cabin', sans-serif;
  --font-size-base: 16px;
  --font-size-heading: clamp(1.25rem, 3.5vw, 3rem);
  --font-size-subheading: 1.25rem;
}

/* Generic
This is where reset, normalize & box-sizing styles go.
*/

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

/* Objects
Non-cosmetic design patterns including grid and layout classes)
*/

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}

/* Elements
Base HTML elements are styled in this section (<body>, <h1>, <a>, <p>, <button> etc.)
*/

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

/* Components
Specific pieces of UI that are stylized. Typically used for global partial styling
*/

{% include './components/_header.css' %}
{% include './components/_hero.css' %}
{% include './components/_patrimonio.css' %}
{% include './components/_ubicacion.css' %}
{% include './components/_default-modules.css' %}

/* Utilities
Helper classes with ability to override anything that comes before it
*/

{% include './utilities/_helper.css' %}

*,html,body {
  font-family: "Roboto", sans-serif;
}
p, ul, ol,li {
    font-size: var(--font-size-base, 16px);
    color: var(--text-color);
}